* {
}

body {
  color: white;
  font-family: 'Montserrat';
  text-align: center;
  overflow-x: hidden;
  margin: 5%;
}

.glowing-bg {
  position: fixed;
  width: 100%;
  inset: 0;  /* this holds top, bottom, right, left value to 0*/
  background: radial-gradient(circle, #091235 10%, black 80%);
  animation: animateBG 10s linear infinite;
  z-index: -1;
}

@keyframes animateBG {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
}

.shooting-star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px #9fbce9;
  animation: fall 3s linear infinite
}

.shooting-star::before {
  content: '';
  top: 35%;
  left: 50%;
  position: absolute;
  height: 1px;
  transform-origin: left;
  transform: rotate(-45deg);
  background: linear-gradient(90deg, #9fbce9, transparent);
  animation: tail 3s linear infinite
}

@keyframes tail {
  0%, 100% { width: 0 }
  40% { width: 300px }
}

@keyframes fall {
  0% { transform: translate(0, 0) }
  100% { transform: translate(-600px, 600px) }
}

.card {
  width: 60%;
  display: inline-block;  /* fixes margin clickable area */
  padding: 1%;
  background-color: rgba(0,0,0,.2);
  border-radius: 10px;
  margin-top: 1%;
  transition: 0.5s;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 0 16px 2px #9fbce9;
}

.intro-card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: up-to-middle 2s linear;
}

@keyframes page-transition-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes up-to-middle {
  0% { top: 20%; opacity: 0.1 }
  40% { top: 30% }
  100% { top: 40% }
}

.main-title {
  letter-spacing: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  transition: 0.2s;
}

.page-transition {
  animation: page-transition-in 1s;
}

@keyframes page-transition-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.language-button {
  display: inline-block;  /* fixes margin clickable area */
  margin: 30px;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  background-color: rgba(0,0,0,.2);
  border: 1px solid black;
  transition: 0.5s;
}

.flag-img {
  vertical-align: middle;
  height: 20px;
}

.language-button:hover {
  box-shadow: 0 0 6px 4px #9fbce9;
  color: white;
}

@media (max-width: 1200px) {  /* High res iPad/tablet */
  .card {
    width: 75%;
  }
}

@media (max-width: 768px) {  /* Low res iPad/tablet */
  .card {
    width: 99%;
  }
  .main-title {
    letter-spacing: 5px;
  }
}

.content-text, h3 {
  margin-inline: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.checks {
  display: none;
}

.hidden-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: grid-template-rows 1s ease-in-out, opacity 1s ease-in-out 0.2s; /* multiple transitions */
}

.hidden-content {
  overflow: hidden;
}

.checks:checked ~ .hidden-wrapper {
  grid-template-rows: 1fr;  /* height 0 -> auto hack */
  opacity: 1;
}
