* {
  margin: 0;
}

body {
  overflow: hidden;
}

h1 {
  color: white;
}

.glowing-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, #091235 10%, black 80%);
  animation: animateBG 5s linear infinite;
  z-index: -1
}

@keyframes animateBG {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
}

.shooting-star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px #9fbce9;
  animation: fall 3s linear infinite
}

.shooting-star::before {
  content: '';
  top: 35%;
  left: 50%;
  position: absolute;
  height: 1px;
  transform-origin: left;
  transform: rotate(-45deg);
  background: linear-gradient(90deg, #9fbce9, transparent);
  animation: tail 3s linear infinite
}

@keyframes tail {
  0% {
    width: 0;
  }

  40% {
    width: 300px;
  }

  100% {
    width: 0;
  }
}

@keyframes fall {
  0% {
    transform: translate(0, 0)
  }
  100% {
    transform: translate(-600px, 600px)
  }
}
