{% extends "base.html" %} 

{% block title %} Stickman Shop {% endblock %} 


{% block content %} 
    <h1>Stickman Shop</h1>
    <p>
        The goal of this project is to gain first experience in developing an eCommerce website with payment processing. In this website
        users can login, register, create custom pictures of a stickman for themselves and buy it. The pictures in question have no value, 
        and should not be bought.
    </p>
    <p>
        You can view my project on my GitHub page: 
        <a class="link" href="https://github.com/yakubszatkowski">@yakubszatkowski</a>
    </p>
{% endblock %}
    