{% extends "base.html" %} 

{% block title %} {{ request.user.username }}'s profile {% endblock %} 


{% block content %} 
    {% if user.is_authenticated %}
        <h1>{{ request.user.username }}'s profile</h1>

        <div class="profile-main">
            <ul class="profile-list-container">
                <li>
                    <span class="profile-label">Username:</span>
                    <span class="profile-value">{{user.username}}</span>
                </li>
                <li>
                    <span class="profile-label">E-mail:</span>
                    <span class="profile-value">{{user.email}}</span>
                </li>
                <li>
                    <span class="profile-label">Last login:</span>
                    <span class="profile-value">{{user.last_login.date}}</span>
                </li>
                <li>
                    <span class="profile-label">Register date:</span>
                    <span class="profile-value">{{user.date_joined.date}}</span>
                </li>
            </ul>
            <a href="{% url 'password_change' %}" class="auth-button">Password Change</a>
        </div>
    {% else %}
        {% include 'login_register.html' %}
    {% endif %}
{% endblock %}