@font-face {
    font-family: Medio;
    src: url('../font/medio.otf');
}

body {
    font-family: 'Medio';
    text-align: center;
}

.main_background {
    position: fixed;
    width: 100%;
    inset: 0;
    background: radial-gradient(ellipse, #38220f 1%, black 100%);
}

h1 {
    color: #967259;
}