<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaletteProbe by yakubszatkowski</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background-animation">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <div class="title-card">
        <h1>PaletteProbe</h1>
        <h4>Choose an image for color extraction</h2>
        
        <form method="post" id="file-form" class="task-form draggable" enctype="multipart/form-data">
            <label for="file-upload" class="input-file-button">Choose file</label>
            <input id="file-upload" name="picture-upload" type="file" multiple accept="image/*">
        </form>
    </div>

    {% if colors_list %} 
        <div class="analyzis-card">
            
            <div class="left-side-card">
                <img src={{image}} class="analyzed-image">
            </div>
            
            <div class="right-side-card">
                {% for color in colors_list %}
                    <div class="color-block" style="background-color: {{ color[0] }};">
                        <h4 style="color: {{ color[0] }}; filter: invert(100%);">{{ color[0] }} - {{ color[1] }}%</h4>
                    </div>
                {% endfor %}
            </div>

        </div>
        <script>document.getElementsByClassName('title-card')[0].style.top = '18vh'</script>
    {% endif %}

    
    <script src="{{url_for('static', filename='js/formListener.js')}}"></script>
</body>

</html>