body {
    background-color: rgb(20, 30, 30);
    font-family: 'Calibri Light';
    align-items: center;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    color: antiquewhite;
}

.title {
    margin-top: 50px;
}

.input-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.input-bar {
    background-color: rgba(150, 150, 150, 0.6);
    border: none;
    width: calc(100% - 20px);
    height: 40px;
    padding: 0;
    cursor: text;
}

.input-bar:hover {
    border: 1px;
    border-color: antiquewhite;
}

.input-bar[type=text] {
    color: antiquewhite;
    font-size: 30px;
    padding-left: 20px;
}

.reset-button {
    position: fixed;
    bottom: 4%;
    right: 1%;
    color: antiquewhite;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    width: 100px;
    height: 40px;
    transition: 0.5s;
}

.reset-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    cursor: pointer;
}

.task-list-card {
    position: relative;
    width: 80%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    justify-content: space-between;
}

.task-form {
    margin: 8px 0px;
    display: flex;
    background-color: rgba(40, 40, 40, 0.6);
}

.checkbox {
    position: relative;
    align-self: center;
    margin: 0px 30px;
    width: 40px;
    height: 40px;
}

.task-buttons-wrapper {
    align-self: center;
    margin-left: auto;
    vertical-align: middle;
    margin-right: 20px;
}

.task-button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    margin: 3px;
    border: 1px solid transparent;
    font-size: 30px;
    color: black;
    filter: invert(1);
    cursor: pointer;
    vertical-align: middle;
}

.pen {
    margin-top: 5px;
    background-image: url(../img/tool.png);
    background-size: 30px 30px;
}


.shoutout {
    position: fixed;
    bottom: 1%;
    right: 1%;
    text-decoration: none;
    color: #ece0d1;
    font-size: small;
}

.task-text {
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 30px;
}

.edit-text {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 85%;
}