<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Café finder by yakubszatkowski</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <section class="main_background">
        <h1 class="title">Find Café in Poland</h1>
        <form id="cafe-form" class="search-bar" method="post">
            <input type="text" id="autocomplete" name="search_input" placeholder="Enter your location" >
            <input type="hidden" id="geometry" name="geometry">
            <button type="submit" class="search-button" onclick="handleSearch(event)">Search</button>
        </form>
        {% if data %}
            {% for business in data %}
            <div>
                <h2>{{ business['name'] }}</h2>
                <p>{{ business['rating'] }}</p>
                <p>{% if business.get('opening_hours', {}).get('open_now', False) %}Open{% else %}Closed{% endif %}</p>
                <p>{{ business['vicinity'] }}</p>
            </div>
            {% endfor %}
        {% endif %}

        {% include "waves.html" %}
    </section>
    <script src="{{url_for('static', filename='js/place_autocomplete.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initAutocomplete"></script>
</body>

</html>
