* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #28282B;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: aliceblue;
    font-family: "Inter", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.main {
    text-align: center;
}

#input-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin: 40px 40px;
}

#input-row {
    display: flex;
    width: 100%;
}

#input-row span {
    flex: 0 0 250px;
    text-align: right;
    margin: 0 20px;
}

#input-row input,
#input-row select {
  flex: 1;
}

#input-row button {
  padding: 0 50px;
  line-height: 1;
}

input, button, select {
    height: 20px;
    opacity: 0.8;
    border-radius: 5px;
    border: 0px;
    padding: 0 10px;
    margin: 5px 3px;
    float: right;
}

button#submit-button {
    margin-top: 20px;
    align-self: center;
    width: 60%;
}