<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block styles %}
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
  {% block content %} {% endblock %}
  {{ bootstrap.load_js() }}
    <section class="glowing-bg">
      <span class="shooting-star"></span>
    </section>

    <script src="{{ url_for('static', filename='js/shootingStars.js')}}"></script>
</body>
</html>