body {
    background-color: rgb(65, 19, 41);
    font-family: 'Montserrat';
    align-items: center;
    text-align: center;
}

.title-card {
    color: rgb(226, 135, 179);
    margin: 0px 30px;
}

.title-card h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
}

.textarea {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(226, 185, 205);
    border: none;
    resize: none;
    outline: none;
    width: 60%;
    font-family: inherit;
    font-size: 20px;
    padding: 20px;
    transition: 500ms;
}

@media (max-width: 1048px) {
    .textarea {
        width: 90%;
    }
}
