<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <title>Flashai</title>
    <link rel="stylesheet" href="../src/styles.css">
</head>
<body>
    <h1>Flashai</h1>
    <form id='input-form' action="">
        <input id='input-text' type="text">
        <button id='input-submit' type="submit">Submit</button>
    </form>

    <p id="info">test</p>
    <script src="../src/renderer.js"></script>
    
</body>

</html>