{% extends "base.html" %} 
{% block title %} Cat Explorer {% endblock %} 

{% block content %}
    
    {% if user.is_authenticated %}
        <h1 class="header">Explore Cats!</h1>
        <div class="explore-page-container">
            {% for cat in data %}
            <a href="{% url 'cat' cat.id %}">
                <img src="{{cat.url}}" class="img-thumbnail cat-pic-browse" alt="...">
            </a>
            {% endfor %}
        </div>
    {% else %}
        {% include 'login_register.html' %}
    {% endif %}

{% endblock %}