{% extends "base.html" %} 
{% block title %} Home Page {% endblock %} 

{% block content %}
    <div class="home-page">
        <h1 class="header">Welcome to CatCurios!</h1>
        <p>
            The goal of this project was to develop a web application enabling users to register, log in, send messages to other users, and, naturally, enjoy random pictures of cats!
        </p>
        <p>
            You can view my project on my GitHub page: 
            <a class="link" href="https://github.com/yakubszatkowski"> yakubszatkowski</a>
        </p>
        {% if user.is_authenticated %}
            <p class="header">
                <a href="{% url 'start' %}" class="link">Click here to view some cats!</a>
        {% else %}
            <p class="footer">
                To start please head out to <a href="{% url 'login' %}" class="link">login</a> or <a href="{% url 'register' %}" class="link">register</a> page.
            </p>
        {% endif %}
    </div>

{% endblock %}