{% extends "base.html" %} 
{% block title %} Meow {% endblock %} 

{% block content %}

    {% if user.is_authenticated %}
        {% if data %}
            {% include 'cat_characteristics.html' %}
    
        {% else %}
            <h1 class="header">Find cat by breed</h1>
        {% endif %}

        <div class="row {% if data %} bottom-row {% endif %}">
            <div class="container-center ">
                <form method="post" class="form-wrapper">
                    {% csrf_token %}
                    {% block cat_search %} {% endblock %}
                    <button class="cats-button" type="button">See more cats!</button>
                </form>
            </div>
        </div>
    {% else %}
        {% include 'login_register.html' %}
    {% endif %}
{% endblock %}