* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    font-family: "Roboto Condensed", sans-serif;
    align-items: center;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    color: #86C232;
}

.background-animation ul li {
    z-index: 1;
    color: white;
    list-style-type: none;
    position: fixed;
    width: 35px;
    height: 35px;
    background: radial-gradient(#61892F, transparent, transparent);
    animation: animate-circles 15s linear infinite;
    opacity: 0;
}

.background-animation ul li:nth-child(1) {
    left: 12vw;
    animation-delay: 4s;
}
.background-animation ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;
}
.background-animation ul li:nth-child(3) {
    left: 25vw;
    animation-delay: 8s;
}
.background-animation ul li:nth-child(4) {
    left: 55vw;
    animation-delay: 0s;
}
.background-animation ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 6s;
}
.background-animation ul li:nth-child(6) {
    left: 85vw;
    animation-delay: 10s;
}
@keyframes animate-circles {
    0% {
        transform: scale(0);
        opacity: 0.7;
        bottom: 0;
    }
    100% {
        transform: scale(10);
        opacity: 0;
        bottom: 85%;
    }
}

.title-card {
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 10, 10, 0.5);
    padding: 20px 0;
    width: 50%;
    box-shadow: 0 0px 20px 10px rgba(10,10,10,.6);
}

.title-card h1, h4 {
    padding: 12px 0;
    letter-spacing: 4px;
}

.title-card label {
    margin-top: 20px;
    letter-spacing: 2px;
}

input[type="file"] {
    display: none;
}
  
.input-file-button {
    border: 1px solid #61892F;
    background-color: rgba(10, 10, 10, 0.1);
    color: #86C232;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
    transition: 0.5s;
}

.input-file-button:hover {
    box-shadow: 0 0 8px 1px #61892F;
}
