* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.content {
    margin: 1em;
}

h1, h2, h3, h4, h5, h6, p, form label {
    color: #f0bc4d;
}

a, form li, div#id_username_helptext, div#id_password2_helptext {
    color: #EAD8B1
}

.app {
    display: flex;
    min-height: 100vh;
    background-color: #6A9AB0;
}

.sidebar {
    flex: 1 1 0;
    max-width: 200px;
    min-width: 200px;
    padding: 2rem 1rem;
    border-right: 1px solid #EAD8B1;
    background-color: #3A6D8C;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.sidebar h3 {
    margin-bottom: 1rem;
}

.sidebar .menu {
    margin: 0 -1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #f0bc4d;
	border-right: 5px solid #f0bc4d;
}

.logout-button-form {
    margin-top: auto;
}

.logout-button {
    margin-top: auto;
    border: none;
    text-align: left;
    text-decoration: none;
    color: #EAD8B1;
    background-color: transparent;
    width: 100%;
    padding: 0.75rem;
    transition: 0.2s ease-in-out;
}

.logout-button:hover {
    color: #f0bc4d;
	border-right: 5px solid #f0bc4d;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 1rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #001F3F;
    cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
    content: '';
    top: -10px
}

.hamburger > span::after {
    content: '';
    top: 10px
}

.menu-item.login-item,
.menu-item.register-item {
    margin-top: auto;
}

.content {
    padding: 0 2vw;
    width: 100%;
}

.content h1 { 
    text-align: center;
    padding-bottom: 5px;
} 

.content p { 
    text-align: justify;
    padding: 0 10px;
    padding-bottom: 1vw;
}

.menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
  }
  .menu-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  .menu-toggle.is-active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
  }

.profile-main {
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.profile-list-container {
    width: 300px;
}

.profile-list-container li {
    display: flex;
    justify-content: space-between;
}

.profile-label {
    color: #EAD8B1;
}

.profile-value {
    color: #f1c158;
}

.auth-button {
    background-color: #3A6D8C;
    color: #EAD8B1;
    border: 2px solid;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: auto;
    width: 200px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    text-align: center;
    margin-top: auto;
}

.a-auth-button {
    background-color: #3A6D8C;
    color: #EAD8B1;
    border: 2px solid #EAD8B1;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.auth-button:hover, .a-auth-button:hover {
    background-color: #567e97;
    color: #e6d8bcfd;
}

.creator-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 78vh;
    padding: 8px;
    background-color: rgba(255,255,255,.6);
    border-radius: 10px;
}

.stickman-items {
    float: left;
    width: 20%;
    height: 100%;
    background-color: rgba(255,255,255,.6);
}

.creator-menu ul {
    padding: 0 5px;
    align-items: center;
    list-style: none;
}

.creator-menu h3 {
    color: #3A6D8C;
    text-align: center;
    border-bottom: 1px solid #6A9AB0;
    padding: 8px 0;
    margin-bottom: 0;
}

.stickman-items li {
    padding: 5px 10px;
}

.stickman-items li label {
    width: 100%;
    vertical-align: middle;
    color: #3A6D8C;
}

.stickman-items li input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 10px;
}

.stickman-items li + li {
    border-top: 1px solid #6A9AB0;
}

.stickman-items li:last-child {
    border-bottom: 1px solid #6A9AB0;
}

.stickman-colors {
    float: right;
    width: 20%;
    height: 100%;
    background-color: rgba(255,255,255,.6);  
}

.stickman-picture {
    display: flex;
    margin: 0 8px;
    width: 60%; 
    max-height: 100%;
    justify-content: center;
}

.stickman-picture img {
    pointer-events: none;
    max-height: 100%;
    max-width: 100%;
}

.color-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.color-list li {
    padding: 16px;
}

.color-list input[type="radio"] {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
    &:disabled{
        opacity: .4;
    }
}


.color-list input[type="radio"]:checked {
    box-shadow: 0px 0px 4px 1px #6A9AB0
}

.purchase-options {
    display: flex;
    
    margin: 0 1vw;
    margin-top: 1vh;
    align-items: center;
    height: auto;
    
}

h4#total {
    color:#f1c158;
    margin-bottom: 0;
}

input#stickman-name {
    float: right;
    margin-left: auto;
}

.purchase-options input {
    background-color: #3A6D8C;
    color: #EAD8B1;
    border: 2px solid;
    width: 150px;
    height: 30px;
    text-align: center;
    padding: 0 20px;
    margin: 0 10px;

}

.purchase-options input[type="submit"] {
    border-radius: 10px;
    transition: .25s;
}

.purchase-options input:hover {
    background-color: #6A9AB0;
}

.purchase-options input[type="text"] {
    width: 300px;
    height: 30px;
    border-width: 1px;
    border: none;
    border-bottom: 1px solid #f1c158;
    background-color: transparent;
    color: #f1c158;
    text-align: center;
    &:focus {
        outline: none;
        border-bottom: 2px solid #f1c158;
    }
    &::placeholder{
        color: #f1c15873;
    }
}


.collection-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #567e978c;
    width: 100%;
    height: 85vh;
    justify-content: space-evenly;
    overflow-y: auto;
    border-radius: 10px;
}

.picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.picture-container img {
    height: 400px;
    width: 200px;
    margin-top: 200px;
}

.stickman-name {
    background-color: #567e97be;
    position: absolute;
    text-align: center;
    right: 50%;
    width: 100%;
    top: 90%;
    transform: translate(50%,-50%);
    text-shadow: 0 0 1px #001F3F;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #EAD8B1;
}

::-webkit-scrollbar-thumb {
    background: #f0bc4d ;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #001F3F;
}

.fav-stickman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.fav-stickman-container img {
    display: block;
    margin: auto;
    height: 100%;
    margin-bottom: 15px;
}

.fav-stickman-container #total {
    margin-right: 5vw;
}

@media (max-width: 1024px) {
    .sidebar {
        max-width: 150px;
        min-width: 150px
    }

    .content {
        margin: 0;
        padding: 5px;
    }

    .creator-menu {
        padding: 2px;
    }

    .stickman-picture {
        margin: 2px;
    }

    .stickman-colors {
        overflow-y: auto;
    }

    .color-list ul {
        overflow-y: scroll;
    }

    .purchase-options input[type="text"] {
        width: 200px;
    }
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .content {
        padding-top: 5rem;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 180px;
        transition: 0.2s ease-in-out;
    }

    .sidebar.is-active {
        left: 0;
    }

    .stickman-items label {
        display: flex;
        flex-direction: column;
    }

    .stickman-items label {
        align-items: center;
        font-size: 12px;
    }

    .stickman-items label input[type="checkbox"] {
        margin: 0;
    }

    .purchase-options h4 {
        font-size: 15px;
    }

    .purchase-options input {
        width: 80px;
        text-align: center;
        padding: 0;
    }

    input#save {
        margin-left: auto;
    }

    .purchase-options input[type="text"] {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        color: #001F3F;
        border-bottom: 1px solid #001f3f6e;
        &::placeholder {
            color: #001f3f6e;
        }
        &:focus {
            border-bottom: 2px solid #001f3f6e;
        }
    }
}