#sidebar a {
    text-decoration: none;
}

.wrapper {
    display: flex;
}

ul {
    list-style-type: none;
}

.main {
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    transition: all 0.35s ease-in-out;
    background: url(../img/cats.jpg) ;
    background-size: 100% 110%;
    
}

#sidebar {
    position: relative;
    width: 60px;
    min-width: 60px;
    z-index: 1;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: rgba(209, 194, 173);
    border-right: 1px solid rgb(139,69,19);
}

#sidebar.expand {
    width: 150px;
    min-width: 150px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem .9rem;
}

.toggle-btn i {
    font-size: 2rem;
    color: rgb(139,69,19);
}

.sidebar-logo {
    margin: auto 0;
    overflow: hidden;
}

.sidebar-logo a {
    color: rgb(139,69,19);
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 3rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1rem;
    color: rgb(139,69,19);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    border-left: 3px solid transparent
}

.sidebar-link i {
    font-size: 1.5rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color: rgba(0,0,0,.1);
    border-left: 3px solid #fff;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: rgb(209, 194, 173);
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-bottom {
    margin-bottom: 15px;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.main-card {
    display: flex; 
    flex-direction: column;
    width: 80%;
    min-height: 90%;
    background-color: rgba(209, 194, 173, 0.85);
    border: rgb(139,69,19), solid, 1px;
    border-radius: 40px;
    z-index: 2;
    padding: 20px 40px;
    color: rgb(139,69,19);
    margin-bottom: 20px;
}

.main-card p:not(.header) {
    text-align: justify;
}

.header {
    text-align: center;
    margin-bottom: 3vh;
}

.link {
    color: rgb(139,69,19);
}

.home-page {
    margin: 0% 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.share-explore-card {
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 15px;
}

.attribute-author-link {
    font-size: 8px;
    margin-left: auto;
    color: rgb(139,69,19);
}

.attritube-author-bottom-right-link { 
    position: fixed;
    font-size: 8px;
    color: rgb(139,69,19);
    bottom: 8px;
    right: 16px;
}

.share-explore-card a {
    width: calc(50% - 15px); 
    height: calc(50% - 15px); 
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(139,69,19) solid 1px;
    border-radius: 40px;
    text-decoration: none;
    background-position: 100% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 250px;
    text-align: center;
}

.share-explore-card a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px; 
    z-index: -1; 
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.share-explore-card h3 {
    color: rgb(139,69,19);
    -webkit-text-stroke: 1px white;
}

.top-left-card:before {
    background-image: url('../img/cat1.png');
}

.top-right-card:before {
    background-image: url('../img/cat2.png');
}

.bottom-left-card::before {
    background-image: url('../img/cat3.png');
}

.bottom-right-card::before {
    background-image: url('../img/cat4.png');
}

.blur-on-hover:hover::before {
    filter: blur(1.5px);
    transform: scale(1.05);
}

.cat-pic {
    max-width: 100%;
    height: 100%;
    border: rgb(139,69,19), solid, 1px;
}

.description {
    position: relative;
}

.wiki-link {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.cat-pic-container {
    margin: 20px 0;
    position: relative;
    display: inline-block;
}

.cats-button {
    padding: 6px;
    color: rgb(139,69,19);
    background-color: rgba(255,255,255,.6);
    border: rgb(139,69,19), solid, 1px;
    border-radius: 4px;
}

.bottom-row {
    margin-top: auto;
}

.list-container {
    width: 250px;
    padding-left: 0;
}

.profile-list-container {
    width: 500px;
    padding-left: 0;
}

.list-container li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.profile-list-container li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.rating::after {
    font-family: FontAwesome;
    font-size: 10px;
    padding-left: 10px;
}

.rating[data-rating=""]::after {
    content: "u n k n o w n";
}

.rating[data-rating="1"]::after {
    content: "\f005\f006\f006\f006\f006";
}

.rating[data-rating="2"]::after {
    content: "\f005\f005\f006\f006\f006";
}

.rating[data-rating="3"]::after {
    content: "\f005\f005\f005\f006\f006";
}

.rating[data-rating="4"]::after {
    content: "\f005\f005\f005\f005\f006";
}

.rating[data-rating="5"]::after {
    content: "\f005\f005\f005\f005\f005";
}

.form-wrapper {
    position: relative;
    display: flex;
    align-items: center; 
}

#search-breed-input {
    flex-grow: 1; 
    box-sizing: border-box; 
    padding: 6px;
    color: rgb(139,69,19);
    background-color: rgba(255,255,255,.6);
    border: rgb(139,69,19), solid, 1px;
    border-radius: 4px;
    margin-right: 4px;
    transition: 0.5s;
}


.container-center:has(#search-breed-input:focus),
.form-wrapper:has(#search-breed-input:focus) {
    overflow: visible;
} 

.autocom-box {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    margin: 0;
    padding-left: 5px;
    max-height: 135px;
    overflow-y: auto;
    z-index: 1000;
}

ul.autocom-box  {
    padding: 0;
}

.autocom-box li {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
}

#breed-list li:hover {
    background-color: rgba(139,69,19,.1);
}

.autocom-box::-webkit-scrollbar {
    width: 8px; 
}

.autocom-box::-webkit-scrollbar-track {
    background: rgba(254, 242, 234);
    border-radius: 10px; 
}

.autocom-box::-webkit-scrollbar-thumb {
    background-color: rgb(139,69,19); 
    border-radius: 10px; 
    border: 3px solid rgba(254, 242, 234);; 
}

.cat-pic-browse {
    max-height: 200px;
    object-fit: cover;
}

.explore-page-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    width: 100%;
}

.return-button {
    padding: 6px 16px;
    color: rgb(139,69,19);
    background-color: rgba(255,255,255,.8);
    border: rgb(139,69,19), solid, 1px;
    border-radius: 4px;
    width: auto;
    text-decoration: none;
    text-align: center;
}

.hidden-checkbox {
    display: none;
}

.favorite-checkbox {
    position: absolute;
    bottom: 10px;
    right: 20px; 
    width: 20px;
    height: 20px;
    background-image: url('../img/like.png');
    background-size: cover;
}

.hidden-checkbox:checked + .favorite-checkbox {
    background-image: url('../img/like2.png');
}

.password-reset-button {
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    width: 200px;
    padding: 6px;
    color: rgb(139,69,19);
    background-color: rgba(255,255,255,.6);
    border: rgb(139,69,19), solid, 1px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px; 
        min-width: 100%;
        display: flex;
        flex-direction: row;
        z-index: 1000;
        transition: all 0.25s ease-in-out;
        justify-content: space-between;
    }

    .sidebar-nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
        margin-left: 20px;
        justify-content: space-between;
    }

    .sidebar-bottom {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
        justify-content: space-between;
    }
    
    .sidebar-item {
        width: 60px; 
        text-align: center;
    }

    .sidebar-footer {
        width: 80px; 
        text-align: center;
    }

    .sidebar-link {
        display: block;
        padding: 1rem 0;
        border-left: none;
        border-top: 3px solid transparent;
    }

    .sidebar-link i {
        margin-right: 0;
        font-size: 1.5rem;
    }

    a.sidebar-link:hover {
        background-color: rgba(0, 0, 0, .1);
        border-top: 3px solid #fff;
    }

    .d-flex {
        flex-direction: column;
    }

    .toggle-btn {
        padding: 12px 10px 10px 10px;
    }
    
    .sidebar-logo {
        text-align: center;
        margin: 0;
        padding-left: 10px;
    }

    .main-card {
        display: flex; 
        flex-direction: column;
        width: 100%;
        min-height: 90%;
        background-color: rgba(209, 194, 173, 0.85);
        border: rgb(139,69,19), solid, 1px;
        border-radius: 40px;
        z-index: 2;
        padding: 20px 20px;
        color: rgb(139,69,19);
        margin-bottom: 20px;
    }

}
