<div>
    <svg 
    class="waves waves-top"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
    >
        <defs>
        <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
        </defs>
        <g class="parallax">
        <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(150, 114, 89, 0.5)"
        />
        <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(219, 193, 172, 0.5)"
        />
        <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(236, 224, 209, 0.5)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#ece0d1" />
        </g>
    </svg>
    
    <svg 
    class="waves waves-bottom"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
    >
        <defs>
        <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
        </defs>
        <g class="parallax">
        <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(150, 114, 89, 0.5)"
        />
        <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(99, 72, 50, 0.5)"
        />
        <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(56, 34, 15, 0.5)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#38220f" />
        </g>
    </svg>
</div>