body {
    background-color: #F1F6F5;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #82C3EC;
    border-width: 5px;
    width: 15%;
}
h1 {
    color: #4B56D2;
    font-family: 'Calibri Light'
}
h3 {
    color: #4B56D2;
    font-family: 'Calibri Light'
}
p {
    color: #82C3EC;
    font-family: 'Calibri Light'
}
table {
    color: #82C3EC;
    font-family: 'Calibri Light'
}
ul {
    color: #82C3EC;
    font-family: 'Calibri Light'
}
